body {
    font-family: Arial, sans-serif;
}

p {
    width: 300px;
    margin: 40px auto;
    font : bold;
}

form {
    width: 300px;
    margin: 40px auto;
}

form div {
    margin-bottom: 15px; /* espace entre chaque bloc */
}

input {
    width: 100%;
    padding: 8px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}