name: cypress-testing

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Cypress run
        uses: cypress-io/github-action@v7 
      